<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new work</title>

    <style>
        h1{
            color: red;
            text-shadow: 1px 1px 2px black;
            text-align: center;
        }
        h1:hover{
            color: aliceblue;
            background-color: red;
        }

        h2{
            text-align: center;
            color: rgb(0, 164, 224);
        }

        h2:hover{
           color: aliceblue;
           background-color: rgb(0, 164, 224);
        }
    </style>
</head>
<body>

    <h1>{{name}}  </h1>


    <h1>{{age}} years old</h1>


   <h2>{{na}}</h2>


    
</body>
</html>