 {%load static%}
 <!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <script src="{% static '/myjs.js'%}"></script>

    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
    
    <div class="q">
        <img src="{% static 'images/Loki.jpg' %}" >
        <h1>LOKHI</h1>
        <p>Loki Laufeyson is a character appearing in American comic books published by 
            Marvel Comics. Created by writer Stan Lee, scripter Larry Lieber, and penciller 
            Jack Kirby, he is based on the Norse mythological deity of the same name. Although
             a version of Loki debuted in Venus #6 (August 1949), his characterization as the adoptive 
             brother and nemesis of the superhero Thor was introduced with the version that debuted
             in Journey into Mystery #85 (October 1962), which has persisted to the modern age.</p>
    </div>
</body>
</html>