*{
    margin: 0px;
    padding: 0px;

}
body {
 
  margin: 0;
  padding: 0;
  background-image: url("image/bgc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  

}


button a{
            text-decoration: none;
            color: white;
            margin-top: 20px;
            font-size: 15px;
            text-shadow: 1px 1px black;
            
}
.container{
 
  
  margin-top: 30px;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
 
      
}
       
.con{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    margin-bottom: 100px;     
    gap: 80px;   
    margin-top: 66vh;
     
}
button{
    height: 130px;
    width: 160px;
    box-shadow: 2px 2px 4px  black;
    transition: transform 0.1s  ease-in-out;
}
 button:hover {
      transform:translateY(-20%) ;
    }
.fa-solid {
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
.ri-book-3-fill{
  font-size: 60px;
    color: white;
    text-shadow: 1px 1px 2px black;
}