
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(270deg,rgba(0, 0, 0, 1) 0%, rgba(8, 207, 252, 1) 100%);
    
}



.di{
    height:160px;
    width: 400%;
    margin-left: 500px;
    margin-top: 200px;
    background-color: #00f5fa;
    border-radius: 10px 20px;
    box-shadow: 3px 3px 6px black;
}

.di form{
    padding: 10px;
    font-size: larger;
}
